.frontline-actions {
    padding-left: 170px;
}
.fraud-actions {
    padding-left: 470px;
}
.security-actions {
    padding-left: 770px;
}
.action-box {
  width: 300px;
  padding: 10px;
  border: 3px solid #77aaff;
  margin: 0;
  box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;  
}
.fraud-process {
    background-color: lightgrey;
    padding: 12px;
}